<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- global-method-security pre-post-annotations="enabled" /-->

	<http pattern="/resources/**/*" security="none"></http>
	<http pattern="/login.ec" security="none" />
	<http pattern="/forgotpassword.ec" security="none"/>

	<http auto-config="true" access-denied-page="/admin/accessdenied.ec">
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
 		<intercept-url pattern="/**" access="ROLE_ADMIN,ROLE_USER" />
		
		<form-login login-page="/login.ec" 
			authentication-failure-url="/login.ec?error=true"
			authentication-success-handler-ref="loginSucessHandler"/>
		<remember-me user-service-ref="userDetailService" />
		<logout invalidate-session="true" logout-success-url="/login.ec" logout-url="/logout.ec" />

		<session-management 
			session-authentication-error-url="/402.ec" 
			invalid-session-url="/sessionTimeout.ec">
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</session-management>
		<session-management session-authentication-strategy-ref="sas" />
	</http>
	
	<beans:bean id="loginSucessHandler"
		class="com.ecommerce.web.security.ECAuthenticationSuccessHandler" />

	<beans:bean id="sas"
		class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<beans:constructor-arg name="sessionRegistry" ref="sessionRegistry" />
		<beans:property name="maximumSessions" value="1" />
		<beans:property name="alwaysCreateSession" value="true" />
		<beans:property name="migrateSessionAttributes" value="false" />
		<beans:property name="exceptionIfMaximumExceeded" value="false" />
	</beans:bean>
	<beans:bean id="sessionRegistry"  
        class="org.springframework.security.core.session.SessionRegistryImpl" />
        
    <authentication-manager alias="authenticationManager">  
        <authentication-provider user-service-ref="userDetailService">  
            <password-encoder hash="md5" ref="passwordEncoder">  
            	<salt-source user-property="username" />
            </password-encoder>  
        </authentication-provider>  
    </authentication-manager> 
    
    <beans:bean id="userDetailService"  
        class="com.ecommerce.web.service.impl.UserDetailServiceImpl">  
    </beans:bean>
    <beans:bean id="passwordEncoder"  
		class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
		
	<beans:bean id="userDetailsManager"
  		class="org.springframework.security.provisioning.JdbcUserDetailsManager">
  		<beans:property name="dataSource" ref="dataSource" />
  		<beans:property name="userCache" ref="userCache" />
 	</beans:bean> 
 
 	<beans:bean id="userCache"
  		class="org.springframework.security.core.userdetails.cache.EhCacheBasedUserCache">
  		<beans:property name="cache" ref="userEhCache" />
 	</beans:bean> 
 
 
 	<beans:bean id="userEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
  		<beans:property name="cacheName" value="userCache" />
  		<beans:property name="cacheManager" ref="cacheManager" />
 	</beans:bean>
 
	 <beans:bean id="cacheManager"
  		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />
	
</beans:beans>
